@import url("components/main.css");
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/about.css");
@import url("components/experiences.css");
@import url("components/skills.css");
@import url("components/education.css");
@import url("components/portfolio.css");
@import url("components/hover.css");
@import url("components/hover-min.css");
@import url("components/contact.css");
@import url("components/cards.css");
@import url("components/interest.css");
