.about-container {
  display: flex;
  background-color: white;
}

.about-left-container {
  flex: 0 0 50%;
}

.profile-right {
  padding-left: 25px;
}

.profile-left {
  padding-left: 25px;
}

.about-title {
  font-weight: 800;
  font-size: 30px;
  padding-top: 80px;
  line-height: 2;
}

.about-title-2 {
  font-weight: 700;
  font-size: 20px;
  /*padding-top: 15px;*/
}

.about-title-3 {
  font-weight: 600;
  font-size: 16px;
}

.about-title-4 {
  font-weight: 600;
  font-size: 16px;
}

.about-paragraph {
  font-weight: 400;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
}

.about-right {
  padding-top: 40px;
}

.about-link {
  color: #014a7b;
}

.about-link:hover {
  color: #b01633;
}

#about-me {
padding-bottom: 40px;
}

#myBtn {
   border: 0px solid transparent;
   color: rgba(0,0,0,0.6);
   border-radius: 10px;
   margin-bottom: 15px;
   font-size: 14px;
   padding: 10px 10px 3px 10px;
}

.card-body-about {
  -webkit-box-shadow: 0px 30px 120px 0px #dde5ee;
  box-shadow: 0px 30px 120px 0px #dde5ee;
  margin-top: 45px;
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.flags {
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    margin-left: 40px;
    margin-top: 10px;
    font-style: italic;
}


.flags img {
  height: 20px;
  width: 20px;
}

.list-inline-item-1 {
    display: inline-block;
    margin-right: 100px;
}
