#banner {
    background: linear-gradient(to left bottom, #360033, #2e295c, #014a7b, #00698c, #0b8793);
    width: 100vw;
    height: 55vh;
    background-size: cover !important;
    background-position: center;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: -1;
}

.image-banner {
    position: absolute;
    top: 170px;
    right: -2px;
    width: 60%;
   /*height: 100%;*/
     border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: white 5px solid;
    z-index: 2;
}

.left-banner-content {
  position: relative;
}

.right-banner-content {
    position: relative;
    display: flex;
    top: 185px;
}

.banner-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  right: 30px;
  top: 24px;
  z-index: 2;
}

.paragraph-banner {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    right: 25px;
    top: 20px;
    z-index: 2;
}

.infos-banner {
    position: absolute;
    left: 70px;
    top: 270px;
    font-size: 16px;
    font-style: italic;
}

.infos-banner-1 {
    position: absolute;
    left: 70px;
    top: 290px;
    font-size: 16px;
    line-height: 2;
    font-style: italic;
}

.infos-banner-2 {
    position: absolute;
    left: 70px;
    top: 310px;
    font-size: 16px;
    line-height: 2;
    font-style: italic;
}

.custom-border {
  box-sizing: border-box;
  border: 0.5px solid #cecece;
  padding-top: 25px;
}

.custom-border-1 {
  border-bottom: 0.5px solid #cecece;
  border-right: 0.5px solid #cecece;
  padding-top: 25px;
}

.paragraph-infos {
  text-align: center;
  padding-left: 16%;
  color: #000;

}

.paragraph-infos:hover {
  color: #014a7b;
}

.paragraph-infos-1 {
  text-align: center;
}

.avatar-large {
  width: 95%;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border: white 5px solid;
  position: relative;
  top: 195px;
  z-index: 1;
}

#coucou {
  display: flex;
}


