#banner {
    background: linear-gradient(to left bottom, #360033, #2e295c, #014a7b, #00698c, #0b8793);
    width: 100vw;
    height: 45vh;
    background-size: cover !important;
    background-position: center;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: -1;
}

.image-banner {
    position: absolute;
    top: 170px;
    right: -2px;
    width: 60%;
   /*height: 100%;*/
     border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: white 5px solid;
    z-index: 2;
}

.left-banner-content {
  position: relative;
}

.right-banner-content {
    position: relative;
    display: flex;
    top: 185px;
}

.banner-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  right: 30px;
  top: 24px;
  z-index: 2;
}

.banner-title-1 {
  font-size: 50px;
  font-weight: 700;
  font-family: inherit;
  color: white;
}

.banner-title-2 {
  font-size: 26px;
  font-weight: 400;
  color: white;
}

.banner {
  background: linear-gradient(to left bottom, #360033, #2e295c, #014a7b, #00698c, #0b8793);
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
}


.btn-outline-custom1 {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 15px;
    margin-right: 10px;
    padding: 7px 20px;
    cursor: pointer;
}

.btn-outline-custom1:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-outline-custom2 {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 15px;
    padding: 7px 20px;
    cursor: pointer;
}

.btn-outline-custom2:hover {
  background-color: #ffffff;
  color: #000000;
}

.paragraph-banner {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    right: 25px;
    top: 20px;
    z-index: 2;
}

.infos-banner {
    position: absolute;
    left: 70px;
    top: 270px;
    font-size: 16px;
    font-style: italic;
}

.infos-banner-1 {
    position: absolute;
    left: 70px;
    top: 290px;
    font-size: 16px;
    line-height: 2;
    font-style: italic;
}

.infos-banner-2 {
    position: absolute;
    left: 70px;
    top: 310px;
    font-size: 16px;
    line-height: 2;
    font-style: italic;
}

.custom-border {
  box-sizing: border-box;
  border: 0.5px solid #cecece;
  padding-top: 25px;
}

.custom-border-1 {
  border-bottom: 0.5px solid #cecece;
  border-right: 0.5px solid #cecece;
  padding-top: 25px;
}

.paragraph-infos {
  text-align: center;
  padding-left: 16%;
  color: #000;

}

.paragraph-infos:hover {
  color: #014a7b;
}

.paragraph-infos-1 {
  text-align: center;
}



#coucou {
  display: flex;
}


