
#intro {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 15px
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards h4 {
  font-weight: 400;
  font-size: 18px;
}

.acard {
 text-align: center;
 padding-top: 20px;
}

.acard img {
  width: 65px;
  padding-bottom: 10px;
}

.acard2 {
  text-align: center;
}

.acard2 img {
  width: 65px;
}

.cards2 {
  display: inline-flex;
}

.cards2 h4 {
  font-weight: 500;
  font-size: 14px;
}
