#experiences {
  background-color: #ecf1f7;
  padding-bottom: 85px;
  padding-top: 40px;
}


.exp-title {
  font-weight: 800;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 40px;
}

.exp-title-2 {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  padding-top: 10px;
}

.exp-info-paragraph {
  font-size: 14px;
}

.exp-link{
  color: #014a7b;
}

.exp-link:hover {
  color: #b01633;
}

.exp-card {
  display: flex;
  align-items: center;
  width: 90%;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(220,224,244,0.4);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}

.exp-card:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
}

.exp-info {
  color: rgba(0,0,0,0.6);
  font-size: 15px;
/*  margin-left: -15px;*/
}

.exp-info-4 {
  color: rgba(0,0,0,0.6);
  font-size: 15px;
  /*margin-left: -15px;*/
}


.exp-date {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 120px;
}

.exp-date-2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 100px
}

.exp-paragraph {
  color: rgba(0,0,0,0.6);
  font-size: 14px;
}

.exp-logo {
  margin-top: 30px;
}

.list-inline-1 {
    padding-left: 0;
    list-style: none;
    margin-bottom: 5px;
}

#more {
  display: none;
}

#myBtn {
   border-color: rgba(0,0,0,0.4);
   color: rgba(0,0,0,0.6);
   border-radius: 10px;
   margin-bottom: 15px;
   font-size: 14px;
   padding: 3px 10px 3px 10px;
}

ul#imageGallery img {
    width: 310px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
    justify-content: space-between;
    margin-bottom: 15px;
}


ul#imageGallery {
    padding: 0;
    align-items: center;
}
