/*.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.2);
}


.custom-border {
  box-sizing: border-box;
  border: 0.5px solid #cecece;
  padding-top: 25px;
}

.custom-border-1 {
  border-bottom: 0.5px solid #cecece;
  border-right: 0.5px solid #cecece;
  padding-top: 25px;
}

.paragraph-infos {
  text-align: center;
  padding-left: 20%;
  color: #000;

}

.paragraph-infos:hover {
  color: ##014a7b;
}

.paragraph-infos-1 {
  text-align: center;
}


.button-custom a {
  color: rgba(0,0,0,0.6);
  font-size: 16px;

}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 15px
   box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}

/*.progress {
    display: -ms-flexbox;
    display: flex;
    height: 5px;
    width: 155px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}*/

.progress {
    border-radius: 25px;
    height: 20px;
    background-color: #e9ecef;
    border-radius: .25rem;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
}








/*.progress-label {
    font-weight: 400;
    font-size: 14px;
    float: left;
     margin-right: 1em;
}
*/
.custom-progress-bars .progress-label {
    float: left;
    width: 30%;
    clear: both;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    font-style: italic;
}

.custom-progress-bars .progress {
    float: left;
    width: 70%;
    height: 3px;
    margin-top: 20px;
}

.custom-progress-bars .progress .progress-bar {
    background-color: #006489;
    overflow: visible !important;
    height: auto;
}


