/*.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 15px;
}


.custom-border {
  box-sizing: border-box;
  border: 0.5px solid #cecece;
  padding-top: 25px;
}

.custom-border-1 {
  border-bottom: 0.5px solid #cecece;
  border-right: 0.5px solid #cecece;
  padding-top: 25px;
}

.paragraph-infos {
  text-align: center;
  padding-left: 20%;
  color: #000;

}

.paragraph-infos:hover {
  color: ##014a7b;
}

.paragraph-infos-1 {
  text-align: center;
}


.button-custom a {
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 15px
    box-shadow: 0 4px 7px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
}


