#portfolio {
  padding-top: 30px;
  padding-bottom: 20px;
  /*background-color: #ecf1f7;*/
}

#postsCarousel {
 /* background-color: #ecf1f7;*/
  padding-bottom: 50px;
}

.portfolio-title-2 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 5px;
}

.portfolio-paragraph {
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  margin-left: 5px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding-bottom: 2px;
  margin-bottom: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
}

.content img {
  width: 200px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


.carousel-inner {
     position: relative;
    width: 100%;
}

.text-md-right {
    position: absolute;
    top: -50px;
    left: 1160px;
}
